<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day4</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"crossorigin>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
            list-style: none;
            font-family: 'Noto Sans TC', sans-serif;
        }

        .banner {
            height: 100vh;
            background: linear-gradient(115deg, #c8fccc 50%, transparent 50%) center center / 100% 100%,
                url('https://picsum.photos/1200/600?random=10') right center / auto 100%;
        }

        .banner .container {
            height: 100%;
            width: 1200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
        }

        .banner .pic {
            width: 200px;
            display: flex;
            align-items: center;
        }

        .banner .pic img {
            width: 100%;
            vertical-align: middle;
            margin: 0 60px;
        }

        .banner .pic a {
            text-decoration: none;
            font-size: 50px;
            font-weight: 100;
            color: #614e5f;
        }

        .banner .txt {
            padding-top: 60px;
            position: relative;
            color: #4c2b49;
        }

        .banner .txt p {
            position: absolute;
            left: 60px;
            font-size: 30px;
            font-weight: 500;
        }
    </style>
</head>

<body>
    <!-- HTML -->
    <div class="banner" id="it">
        <div class="container">
            <div class="pic">
                <a href="#">{{</a>
                <img src="logo.png" alt="">
                <a href="#">}}</a>
            </div>
            <div class="txt">
                <p>{{introduction}} </p> <!-- 資料綁定 -->
            </div>
        </div>
    </div>

    <!-- Vue 的 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script type="text/javascript">
        new Vue({
            el: '#it',
            data: {
                introduction: 'Welcome to Vue.js'
            }
        })
    </script>
</body>

</html>